@import "./../foundation/_index.scss";

*, ul, li, h1, h2, h3, h4, h5 {
    box-sizing: border-box;
    color: $color-black;
    font-family: $font-family-sans;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    @extend %font-title-lg;
}

h2 {
    @extend %font-title-md;
}

h3 {
    @extend %font-title-sm;
}

ul {
    list-style-type: none;
}

p {
    @extend %font-base;
    margin: $space-sm 0;
}

pre {
    background: $color-bluewood;
    color: $color-white;
    margin: $space-xs 0;
    padding: $space-sm;
    text-transform: none !important;
    white-space: pre-wrap;
}

code {
    background-color: $color-bluewood;
    color: $color-white;
}
