@import "./../sprak-variables.scss";

* {
    box-sizing: border-box;
}

body {
    color: $color-black;
    font-family: $font-family-sans;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    @extend %font-title-lg;
    margin: 0;
    padding: 0;
}

h2 {
    @extend %font-title-md;
    margin: 0;
    padding: 0;
}

h3 {
    @extend %font-title-sm;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

p {
    @extend %font-base;
    margin: $space-sm 0;
}

a, a:visited {
    color: $color-mariner;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}

pre {
    background: $color-bluewood;
    color: $color-white;
    margin: $space-xs 0;
    padding: $space-sm;
    text-transform: none !important;
    white-space: pre-wrap;
}

code {
    background-color: $color-bluewood;
    color: $color-white;
}
