@import './sprak/sprak-variables.scss';

.style-detail-checkbox ~ label {
    cursor: pointer;
    display: inline-block;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    &:hover {
        border-left: solid 3px $color-bluewood;
        padding-left: $space-sm;
        margin-left: -($space-sm + 3px);
    }
}

.style-detail-checkbox {
    display: none;
}
.style-detail-checkbox:checked ~ .style-detail {
    display: block;
}

.style-detail {
    display: none;
}
