@import "./../sprak-variables.scss";

.form-group {
    label {
        @extend %font-base-alt;
        display: block;
    }

    input,
    select {
        border-radius: 5px;
        border-width: 0px;
        padding: $space-xs;
        width: 100%;
    }

    margin-bottom: $space-sm;
}
